.featured-wrapper {
  text-align: center;
  width: 90vw;
  margin: 0 auto;
}

.featured-wrapper h3 {
  font-size: 3em;
  margin-bottom: 1em;
}


.featured-room {
  position: relative;
  margin-bottom: 8em;
}
.room-featured-image {
  display: flex;
  position: relative;
  width: 70vw;
    
  @media (max-width:1250px){
    align-self: center; 
    width: 100%;
    padding: 0 2em;
  }
}
.featured-rooms section:nth-child(odd) .room-featured-image {
  right: 0;
  margin-left: auto;
  align-self: end;
}
.featured-rooms section:nth-child(even) .room-featured-image {
  left: 0;
  margin-right: auto;
  align-self: start;
}
.featured-room article {
  position: absolute;
  top: calc(50% - 10em);
  width: 500px;
  background-color: rgb(238, 238, 238);
  padding: 5em;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.329);

  @media (max-width:1250px){
      position: relative;
      top: 0;
      right: 0;
      padding: 4em;
      width: 100%;
  }
  @media (max-width:900px){
      padding: 2em;
  }
}

.featured-room a {
  margin-top: 1em;
}

.featured-rooms section:nth-child(odd) article {
  left: 0;
}
.featured-rooms section:nth-child(even) article {
  right: 0;
}

.featured-room h4 {
  font-size: 2em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  text-transform: capitalize;
  border-bottom: 2px solid black;
}
