.services-wrapper {
  text-align: center;
  font-family: $classy-font;
  margin-bottom: 3em;

  h3 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  .services {
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-row-gap: 2em;
    grid-column-gap: 1.5em;
    margin: 0 auto;

    @media screen and (min-width: 820px) and (max-width: 1200px) {
      max-width: 700px;
    }
  }
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 1em;
    margin-top: 3.5em;
    @include mq("768px") {
      margin-top: 1em;
    }
    span {
      font-size: 5em;
    }
    h4 {
      margin-top: .5em;
      text-align: center;
      font-size: 1.4em;
    }
    p {
      margin-top: 1.3em;
      font-size: 1.3em;
    }
  }
}
