@import url(https://fonts.googleapis.com/css?family=Cormorant:400,500,600,700&display=swap);

html{
    box-sizing: border-box;
    margin: 0;
    font-family: $classy-font;
}

*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    font-family: inherit;
}

main{
    // margin-top:80px;
}


[class|="default-anchor"] {
    position: relative;
    display: inline-block;
    border: white solid 2px;
    padding: 0.9em 1em;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    margin: 0 auto;
}
[class|="default-anchor"] span{
    z-index: 1;
    position: relative;
    transition: all 0.4s ease-in-out;
}
[class|="default-anchor"]::before{
    position: absolute;
    bottom:0;
    left: 0;
    content: '';
    background-color: white;
    width: 100%;
    height: 0%;
    transition: all 0.4s ease-in-out;
}
[class|="default-anchor"]:hover{
    color: black;
}
[class|="default-anchor"]:hover::before{
    height: 100%;
}

.default-anchor-dark::before{
    background-color: black;
}
.default-anchor-dark:hover{
    color: white;
}
.default-anchor-dark{
    border: black solid 2px;
    color: black;
}